## 配置设备平台 (可选)
## 目前预留，后续可扩展不同客户端
platform=''

## 服务端口 (可选)
PORT=''

## HTTP 代理地址 (可选)
KUWO_API_PROXY=''

## 设备id (可选，建议固定)
## KUWO_API_GUID 建议为 uuidv4
## KUWO_API_DEV 建议长度为 10 位的字符串
KUWO_API_GUID=''
KUWO_API_DEV=''
